# Binaries
/bin/
dist/
*.exe
*.test

# Build & coverage
*.out

# Archives (GoReleaser, manual builds)
*.tar.gz
*.tgz
*.zip

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# krew file
regex-match.yaml